body {
  font-family: "Nunito Sans";
}

#header {
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(20, 23, 28, 0.1);
  border-radius: 0px;
}
i.icon.search::before {
  content: "\f002";
  color: #ff4e4e;
}

#header #navbarSupportedContent ul .titleName {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  color: #505763;
}

#headerCta {
  width: 100%;
  height: 239px;
  background: linear-gradient(113.52deg, #07133d -41.24%, #aa222f 68.95%);
  border-radius: 0px;
}

._headerContent {
  padding: 2rem 0;
}

#headerCta #cardMain {
  background: #f2f3f5;
  border-radius: 0px;
}

#headerCta #cardMain .list-group .list-group-item {
  background: #f2f3f5;
  border-radius: 0px;
}

#headerCta #cardMain .list-group .info .desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
  margin: 7px 0;
}

#headerCta #cardMain .list-group .info .price {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #505763;
}

#headerContent ._headerContet .title-rating {
  margin-left: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #ffffff;
}

#headerContent ._headerContet .desc-rating {
  margin-left: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #ffffff;
}

/* search  */

#custom-search-input {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #d9230f;
}

.search-query:focus + button {
  z-index: 3;
}
/* search end */

.vl {
  border-left: 1px solid #dedfe0;
  height: 40px;
}

/* radio btn custome */

/* radio btn custome end*/

/* menu tab  */

.topnav {
  overflow: hidden;
  background-color: transparent;
  border-bottom: 1px solid #eeeeee;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #aa222f;
  color: #aa222f;
}
.topnav a.active {
  border-bottom: 3px solid #aa222f;
  color: #aa222f;
}

#headerCta #cardMain .list-group .info p .time {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #1abc9c;
}

#headerCta #cardMain .card-body .card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #505763;
}

#headerCta #cardMain .card-body .card-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
}

#headerCta #cardMain .list-group .action .btnCart {
  background: #ff4e4e;
  border-radius: 2px;
  width: 100%;
  height: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #ffffff;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #headerCta #cardMain .list-group .action .btnCart {
    font-size: 15px;
  }
}

#headerCta #cardMain .list-group .action .btnBuy {
  background: #f2f3f5;
  width: 100%;
  height: 44px;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #686f7a;
}

#headerCta #cardMain .listKursus .card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 135% */
  color: #494e56;
}

#headerCta #cardMain .listKursus .listKursusText p .listKursusDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */
  align-items: center;
  letter-spacing: 0.0025em;
  margin: 5px 10px;
  color: #494e56;
}

#headerCta .title-content {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  /* or 120% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #ffffff;
}
#cardMain .mainplay {
  position: relative;
}
#cardMain .mainplay .play {
  position: absolute;
  margin: 0;
  transform: translate(0, 82%);
  left: 40%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #cardMain .mainplay .play {
    transform: translate(0, 25%);
  }
}
#Menu .topnav a span {
  padding: 0 7px;
}
.topnav .link {
  padding: 0 27px;
}
/* Tab */
.ui.secondary.inverted.pointing.menu > .item.active,
.ui.secondary.inverted.pointing.menu > .menu > .item.active {
  border-color: #aa222f;
  color: #686f7a;
}
.ui.secondary.inverted.pointing.menu {
  border-bottom: 3px solid white;
}
.ui.inverted.menu .active.item {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.2);
  color: #aa222f !important;
}
.ui.inverted.black.segment,
.ui.inverted.segment {
  background-color: white !important;
  color: #686f7a !important;
}
.ui.secondary.inverted.pointing.menu > .item {
  color: #686f7a;
}
.ui.secondary.inverted.pointing.menu > .item:hover,
.ui.secondary.inverted.pointing.menu > .menu > .item:hover {
  color: #686f7a;
}
/* Tab end */
#tentang h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #505763;
}

#tentang p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #494e56;
}

#konten h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #505763;
}

#konten #accordion .card-header h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #000000;
}

#konten #accordion .card-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
}

#konten #accordion .card-body .blockquote p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0;
}

#konten #accordion #collapseOne p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #000000;
}

#konten #accordion #collapseTwo p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #000000;
}

#persyaratan h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #505763;
}
.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}
.tab-shrink {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .sticky + .content {
  padding-top: 102px;
} */
#persyaratan .list-syarat li {
  list-style-type: none;
}

#persyaratan h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 140% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #000000;
}

#persyaratan ul li span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
  margin-left: 1rem;
}

#pembuatKursus h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #505763;
}

#pembuatKursus .card-body .card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #494e56;
}

#pembuatKursus .card-body h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #aa222f;
}

#pembuatKursus .card .list-group-flush {
  padding: 0;
}

#pembuatKursus .card .list-group-flush .flex-row .infoIcon {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  /* or 193% */
  color: #494e56;
  margin: 0 7px;
}

.checkedProgress {
  margin: 5px 0;
  display: -ms-flexbox;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: #c4c4c4;
}

.progress {
  margin: 5px 0;
  display: -ms-flexbox;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background: #f3f3f3;
  border-radius: 0.25rem;
}

#ulasan h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #505763;
}

#ulasan .mt-3 .rating-num {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 21px;
  color: #686f7a;
}

#ulasan .mt-3 .rating-desc h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 143% */
  color: #686f7a;
}

#descUlasan .titleName h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* or 132% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
}

#descUlasan .titleName p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  /* identical to box height, or 180% */
  color: #494e56;
}

#descUlasan .descContent .desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #descUlasan .flex-row .titleName {
    position: relative;
    left: 12px;
  }
}

#descUlasan {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 12px 0;
}

#kursusLain h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #505763;
}

#kursusLain .rating .fa-star {
  font-size: 12px;
  color: #ffb801;
}

#kursusLain .rating .countUlas {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  align-items: center;
  color: #505763;
}

#kursusLain .titleName h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  align-items: center;
  color: #505763;
}

#kursusLain .titleName p {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */
  align-items: center;
  color: #505763;
}

#kursusLain .rating .star {
  padding: 8px 0;
}

#kursusLain .rating .priceAwal {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  align-items: center;
  color: #505763;
  text-decoration: line-through red;
}

#kursusLain .rating .discont {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  align-items: center;
  color: #29303b;
  margin-top: 12px;
}

section {
  padding: 50px 0;
}

.desc-rating h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 141% */
  align-items: center;
  letter-spacing: 0.0025em;
  color: #ffffff;
}

#btnCari .form-control {
  width: 472px;
  height: 44px;
  left: 339px;
  top: 10px;
}

.checked {
  color: #f4ec2d;
}

.unchecked {
  color: #eaeaea;
}

#btnMasuk {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #686f7a;
  width: 70px;
  height: 44px;
  left: 1083px;
  background: #ffffff;
  border: 1px solid #686f7a;
  box-sizing: border-box;
  border-radius: 2px;
}

#btnDaftar {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 80px;
  height: 44px;
  background: #ff4e4e;
  border-radius: 2px;
}

#Menu .breadcrumb .bred-item .black-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #686f7a;
}

#Menu .breadcrumb .bred-item .fa-angle-right {
  color: #686f7a;
}

#_menu {
  border-bottom: 2px solid #eeeeee;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #686f7a;
  font-size: 20px;
}

#_menu ._menuChild .nav-item .Navlink.active {
  color: #aa222f !important;
  background-color: transparent;
  border-color: transparent transparent #eeeeee;
  border-bottom: 4px solid #aa222f !important;
  font-size: 20px;
  font-weight: bold;
}

._menuChild {
  display: -ms-flexbox;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.accordion .card-headers:after {
  font-family: "FontAwesome";
  content: "\f068";
  float: right;
}

.accordion .card-headers.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.btn-kursuslain {
  border: 1px solid #8154ef;
  box-sizing: border-box;
  border-radius: 36px;
}

/* tabs */

#tabs {
  background: transparent;
  color: #686f7a;
}

#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #aa222f !important;
  background-color: transparent;
  border-color: transparent transparent #eeeeee;
  border-bottom: 4px solid #aa222f !important;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border-bottom: 2px solid #eeeeee;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #686f7a;
  font-size: 20px;
}

#Menu .breadcrumb {
  background-color: transparent;
}

/* tabs end */

#footer {
  background: #aa222f;
}

.foot-link-download {
}

.foot-link-download ul li a {
}

.foot-link-download ul li {
  list-style-type: none;
}

.foot-link-sosmed {
  float: right;
  padding: 20px 0px;
  margin-top: 50px;
  margin-left: 0;
}

.foot-link-sosmed ul li a {
  list-style-type: none;
  float: left;
  color: white;
  padding: 3px 6px;
  height: auto;
  width: 30px;
  margin-right: 5px;
}

.foot-link-sosmed ul li {
  list-style-type: none;
  float: left;
}
