#header {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(20, 23, 28, 0.1);
  border-radius: 0px;
}

#headerCta {
  margin-top: 6rem;
  width: 100%;
  height: 239px;
  background: linear-gradient(113.52deg, #07133D -41.24%, #AA222F 68.95%);
  border-radius: 0px;
}

#headerContent {
  padding: 2rem 0;
  ;
}

._headerContent {
  padding: 2rem 0;
}

#headerCta .title-content {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  /* or 120% */
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #FFFFFF;
}

.title-rating {
  margin-left: 2rem;
  color: #FFFFFF;
}

.desc-rating h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 141% */
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #FFFFFF;
}

#btnCari .form-control {
  width: 472px;
  height: 44px;
  left: 339px;
  top: 10px;
}

.checked {
  color: orange;
}

#btnMasuk {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #686F7A;
  width: 70px;
  height: 44px;
  left: 1083px;
  background: #FFFFFF;
  border: 1px solid #686F7A;
  box-sizing: border-box;
  border-radius: 2px;
}

#btnDaftar {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 80px;
  height: 44px;
  background: #FF4E4E;
  border-radius: 2px;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

#footer {
  height: 175px;
  background: #AA222F;
}

.foot-link-download {}

.foot-link-download ul li a {}

.foot-link-download ul li {
  list-style-type: none;
}

.foot-link-sosmed {
  float: right;
  padding: 20px 0px;
  margin-top: 50px;
  margin-left: 0;
}

.foot-link-sosmed ul li a {
  list-style-type: none;
  float: left;
  color: white;
  padding: 3px 6px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.foot-link-sosmed ul li {
  list-style-type: none;
  float: left;
}