#header {
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(20, 23, 28, 0.1);
  border-radius: 0px;
}

#headerCta {
  margin-top: 4rem;
  width: 100%;
  height: 239px;
  background: linear-gradient(113.52deg, #07133d -41.24%, #aa222f 68.95%);
  border-radius: 0px;
}

#headerContent {
  padding: 2rem 0;
}

._headerContent {
  padding: 2rem 0;
}

#headerCta .title-content {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  /* or 120% */
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #ffffff;
}

#tentang h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.0025em;
  color: #505763;
}
#tentang p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #494e56;
}
#konten h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.0025em;
  color: #505763;
}
#konten #accordion .card-header h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #000000;
}
#konten #accordion .card-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;

  color: #494e56;
}
#konten #accordion .card-body .blockquote p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0;
}
#persyaratan h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.0025em;
  color: #505763;
}
#persyaratan h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 140% */

  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;

  color: #000000;
}
#persyaratan ul li span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #494e56;
  margin-left: 1rem;
}
#pembuatKursus h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.0025em;
  color: #505763;
}
#pembuatKursus .card-body .card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #494e56;
}
#pembuatKursus .card-body h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #aa222f;
}
#ulasan h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.0025em;
  color: #505763;
}
#ulasan .mt-3 .rating-num {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 21px;
  color: #686f7a;
}
#ulasan .mt-3 .rating-desc h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 143% */

  color: #686f7a;
}
#kursusLain h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.0025em;
  color: #505763;
}
section {
  padding: 50px 0;
}

.title-rating {
  margin-left: 2rem;
  color: #ffffff;
}

.desc-rating h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* or 141% */
  display: flex;
  align-items: center;
  letter-spacing: 0.0025em;
  color: #ffffff;
}

#btnCari .form-control {
  width: 472px;
  height: 44px;
  left: 339px;
  top: 10px;
}

.checked {
  color: #f4ec2d;
}

#btnMasuk {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #686f7a;
  width: 70px;
  height: 44px;
  left: 1083px;
  background: #ffffff;
  border: 1px solid #686f7a;
  box-sizing: border-box;
  border-radius: 2px;
}

#btnDaftar {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 80px;
  height: 44px;
  background: #ff4e4e;
  border-radius: 2px;
}
#_menu {
  border-bottom: 2px solid #eeeeee;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #686f7a;
  font-size: 20px;
}
#_menu ._menuChild .nav-item .nav-link.active {
  color: #aa222f !important;
  background-color: transparent;
  border-color: transparent transparent #eeeeee;
  border-bottom: 4px solid #aa222f !important;
  font-size: 20px;
  font-weight: bold;
}
._menuChild {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.accordion .card-headers:after {
  font-family: "FontAwesome";
  content: "\f068";
  float: right;
}

.accordion .card-headers.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.btn-kursuslain {
  border: 1px solid #8154ef;
  box-sizing: border-box;
  border-radius: 36px;
}

/* tabs */

#tabs {
  background: transparent;
  color: #686f7a;
}

#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #aa222f !important;
  background-color: transparent;
  border-color: transparent transparent #eeeeee;
  border-bottom: 4px solid #aa222f !important;
  font-size: 20px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border-bottom: 2px solid #eeeeee;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #686f7a;
  font-size: 20px;
}

#Menu .breadcrumb {
  background-color: transparent;
}

/* tabs end */

#footer {
  background: #aa222f;
}

.foot-link-download {
}

.foot-link-download ul li a {
}

.foot-link-download ul li {
  list-style-type: none;
}

.foot-link-sosmed {
  float: right;
  padding: 20px 0px;
  margin-top: 50px;
  margin-left: 0;
}

.foot-link-sosmed ul li a {
  list-style-type: none;
  float: left;
  color: white;
  padding: 3px 6px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.foot-link-sosmed ul li {
  list-style-type: none;
  float: left;
}
